[package]
name = "sllv-core"
version = "0.0.2"
edition = "2021"

[dependencies]
sha2 = "0.10"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
image = { version = "0.24", default-features = false, features = ["png"] }
